@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins&family=Open+Sans&family=Roboto&family=Merriweather+Sans:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

