:root {
  --body-bg-color: #121214;
  --text-color: #837E9F;
  --bg-cards: #1414163b;
  --font: 'Poppins', sans-serif;
  font-size: 60%;
  --font-size-device: 16px;
}

a{
  text-decoration: none;
  font-size: 12px;
  color: rgba(255,255, 255, 0.4);
}

body{
  font-family: var(--font);
  color: var(--text-color);
  font-size: var(font-size);
  background: var(--body-bg-color);
}

.header{
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 180px;
  z-index: -1;
  background-image: url('../../images/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-attachment: scroll;
  filter: blur(9px);
}

.cards:nth-child(2){
    align-items: flex-start;
}

main.cards:nth-child(1) {
  align-items: inherit;
}

.cards:nth-child(3){
  align-items: flex-start;
}

aside{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-area: a;
}

#main {
  margin: 150px auto;
}

aside h1{
    font-size: clamp(1.9rem, -2.06rem + 4vw, 2.3rem);
    font-weight: 700;
    line-height: 2.9rem;
}

aside span {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.6rem;
}

main span {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-area: m;
}

#main {
  width: min(94%, 200rem);
    margin-inline: auto;
    display: grid;
    grid-template-columns: minmax(19.8rem, 25vw) auto;
    grid-template-areas:
        'a m'
        'a f';
    column-gap: 3rem;
    row-gap: 2rem;
}

section {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
  justify-content: space-between;
}

@media (max-width: 900px) {
  #main {
    grid-template-columns: auto;
    column-gap: 0;
    display: block;
    margin: 0 auto;
  }
  aside {
    margin: 30px 0px 20px;
  }
  footer{
    margin: 50px auto;
  }

  .profile h1{
    font-size: 30px;
    margin-bottom: 10px;
  }

  .profile span{
    font-size: var(--font-size-device);
  }

  .profile img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
  }
  .friends img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
   
  }

  .friends h1{
    font-size: 21px;
  }

  .friends div{
    display: flex;
    flex-direction: row;

  }

}

.cards:nth-child(3) div  {
  flex-wrap: wrap;
  flex-direction: row;
}

.friends img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.cards {
  background-color: var(--bg-cards);
  border-radius: 7px;
  border: none;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 45px 30px;
}

.feed span {
  text-align: left;
  font-size: var(font-size);
}

.cards h1 {
  color: white;
}

.cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    text-align: center;
}

.profile img {
  width: 180px;
  height: 180px;
  border-radius: 90px;
  border: 0.2rem solid #00b7ff;
  animation: float 3.2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: translateY(0px);
  }
}

footer{
  text-align: center;
  grid-area: f;
}

form input {
  width: 80vw;
  padding:20px;
  outline: none;
  background: #E6E6E6;
  border: none;
  border-radius: 5px;
}

 form button{
  width: 100%;
  background: #0b3e52;
  font-weight: 700;
  color: white;
  margin: 12px 0 34px;
  padding: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: filter 0.3s;
}

button:hover {
  filter: brightness(0.9)
}
