.card {
  height: 60px;
  width: 70%;
  background-color: #3e545267;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
